parameters:
    level: 8
    checkMissingIterableValueType: false

    bootstrapFiles:
        - phpstan-bootstrap.php

    ignoreErrors:
        - '#Binary operation "\." between array<string>\|bool\|string\|null and .+ results in an error.#'
        - '#Parameter .+ of method .+Transfer::.+\(\).+ given.#'

    reportUnmatchedIgnoredErrors: false
