openapi: 3.0.0
info:
    title: 'App Tenant Registry Service (ATRS)'
    description: 'The App Tenant Registry Service is capable of managing Apps, Tenants and connection and configureation between them.'
    version: 0.2.3

servers:
    - url: https://glue.trs.demo-spryker.com
      description: 'Main (production) server'
    - url: https://glue.trs-staging.demo-spryker.com
      description: 'Internal staging server for testing'
    - url: http://glue.registry.spryker.local
      description: 'Internal development server'

paths:
    /apps:
        post:
            summary: 'Registers an App within the Registry service'
            requestBody:
                description: 'Contains all required data to register an App within the Registry service.'
                required: true
                content:
                    application/vnd.api+json:
                        schema:
                            $ref: '#/components/schemas/AppRegistrationApiRequest'
            responses:
                201:
                    description: 'App is registered.'
                    content:
                        application/vnd.api+json:
                            schema:
                                $ref: '#/components/schemas/AppRegistrationApiResponse'
                400:
                    description: 'Invalid request.'
                    content:
                        application/vnd.api+json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'
                500:
                    description: 'Server error'
                    content:
                        # servers may want to report the error directly as simple text if things go very wrong
                        text/plain:
                            schema:
                                type: string
                default:
                    description: 'Expected response to a bad request.'
                    content:
                        application/vnd.api+json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'

        get:
            summary: 'Lists all available apps for a given locale.'
            parameters:
                - name: Accept-Language
                  in: header
                  description: 'Locale to be used to get the localised details.'
                  example: 'en'
                  schema:
                      type: string
                - name: x-tenant-id
                  in: header
                  required: true
                  description: 'Tenant ID'
                  example: 'tenantUuid'
                  schema:
                      type: string
            responses:
                200:
                    description: 'Expected response to a valid request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AppCollectionApiResponse'
                400:
                    description: 'Invalid request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'
                default:
                    description: 'Expected response to a bad request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'
    /apps/{appId}:
        get:
            summary: 'Expose the details of a single app.'
            parameters:
                - name: appId
                  in: path
                  required: true
                  description: 'UUID of the app.'
                  example: 'UUID_app123'
                  schema:
                      type: string
                - name: Accept-Language
                  in: header
                  description: 'Locale to be used to get the Localised details.'
                  example: 'en'
                  schema:
                      type: string
                - name: x-tenant-id
                  in: header
                  required: true
                  description: 'Tenant ID'
                  example: 'tenantUuid'
                  schema:
                      type: string
            responses:
                200:
                    description: 'Expected response to a valid request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AppApiResponse'

                400:
                    description: 'Invalid request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'
                404:
                    description: 'Resource not found.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'

                default:
                    description: 'Expected response to a bad request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'

        patch:
            summary: 'Updates App information'
            parameters:
                -   name: appId
                    in: path
                    required: true
                    description: 'UUID of the app.'
                    example: 'UUID_app123'
                    schema:
                        type: string

            requestBody:
                description: 'Contains all required data to register an App within the Registry service.'
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AppRegistrationApiRequest'
            responses:
                204:
                    description: 'App is updated.'
                404:
                    description: 'Resource not found.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'

                400:
                    description: 'Invalid request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessages'
                default:
                    description: 'Expected response to a bad request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'

        put:
            summary: 'Upload an image for app'
            requestBody:
                description: 'Contains all required data to add image to app.'
                required: true
                content:
                    image/png:
                        schema:
                            $ref: '#/components/schemas/AppAddImageRequest'
            responses:
                201:
                    description: 'Image is added.'
                    content:
                        application/vnd.api+json:
                            schema:
                                $ref: '#/components/schemas/AppAddImageResponse'
                400:
                    description: 'Invalid request.'
                    content:
                        application/vnd.api+json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'
                default:
                    description: 'Expected response to a bad request.'
                    content:
                        application/vnd.api+json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'

    /apps/{appId}/connect:
        post:
            summary: 'Posts a connect request'
            parameters:
                - name: appId
                  in: path
                  required: true
                  description: 'UUID of the app.'
                  example: 'UUID_app123'
                  schema:
                      type: string
                - name: x-tenant-id
                  in: header
                  required: true
                  description: 'Tenant ID'
                  example: 'tenantUuid'
                  schema:
                      type: string
                - name: Accept-Language
                  in: header
                  description: 'Locale to be used to get the Localised details.'
                  example: 'en'
                  schema:
                      type: string

            responses:
                200:
                    description: 'Expected response to a valid request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AppConnectionApiResponse'
                400:
                    description: 'Invalid request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessages'
                default:
                    description: 'Expected response to a bad request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'

    /apps/{appId}/disconnect:
        post:
            summary: 'Posts a disconnect request'
            parameters:
                - name: appId
                  in: path
                  required: true
                  description: 'UUID of the app.'
                  example: 'UUID_app123'
                  schema:
                      type: string
                - name: x-tenant-id
                  in: header
                  required: true
                  description: 'Tenant ID'
                  example: 'tenantUuid'
                  schema:
                      type: string
                - name: Accept-Language
                  in: header
                  description: 'Locale to be used to get the Localised details.'
                  example: 'en'
                  schema:
                      type: string

            responses:
                200:
                    description: 'Expected response to a valid request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AppConnectionApiResponse'
                400:
                    description: 'Invalid request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessages'
                default:
                    description: 'Expected response to a bad request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'

    /apps/{appId}/configuration:
        get:
            summary: 'Gets the configuration for the App.'
            parameters:
                - name: appId
                  in: path
                  required: true
                  description: 'UUID of the app.'
                  example: 'UUID_app123'
                  schema:
                      type: string
                - name: x-tenant-id
                  in: header
                  required: true
                  description: 'UUID of the tenant.'
                  example: 'UUID_tenant123'
                  schema:
                      type: string
                - name: Accept-Language
                  in: header
                  description: 'Locale to be used to get the Localised details.'
                  example: 'en'
                  schema:
                      type: string
            responses:
                200:
                    description: 'Expected response to a valid request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AppConfigurationApiResponse'
                400:
                    description: 'Invalid request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'
                404:
                    description: 'Resource not found.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'
                default:
                    description: 'Expected response to a bad request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'

        post:
            summary: 'Posts the configuration for the App.'
            operationId: 'AppsApi.Configuration' # Module.Controller
            parameters:
                - name: appId
                  in: path
                  required: true
                  description: 'UUID of the app.'
                  example: 'UUID_app123'
                  schema:
                      type: string
                - name: x-tenant-id
                  in: header
                  required: true
                  description: 'UUID of the tenant.'
                  example: 'UUID_tenant123'
                  schema:
                      type: string
                - name: Accept-Language
                  in: header
                  description: 'Locale to be used to get the Localised details.'
                  example: 'en'
                  schema:
                      type: string
            requestBody:
                description: 'Used to configure an App for a Tenant.'
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AppConfigurationApiRequest'
            responses:
                200:
                    description: 'Expected response to a valid request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AppConfigurationApiResponse'
                400:
                    description: 'Invalid request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'
                default:
                    description: 'Expected response to a bad request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'
