openapi: 3.0.0
info:
    title: 'App Tenant Registry Service (ATRS)'
    description: 'The App Tenant Registry Service is capable of managing Apps, Tenants and connection and configureation between them.'
    version: 0.2.3

servers:
    - url: https://glue.trs.demo-spryker.com
      description: 'Main (production) server'
    - url: https://glue.trs-staging.demo-spryker.com
      description: 'Internal staging server for testing'
    - url: http://glue.registry.spryker.local
      description: 'Internal development server'

paths:
    /apps:
        post:
            summary: 'Registers an App within the Registry service'
            requestBody:
                description: 'Contains all required data to register an App within the Registry service.'
                required: true
                content:
                    application/vnd.api+json:
                        schema:
                            $ref: '#/components/schemas/AppRegistrationApiRequest'
            responses:
                201:
                    description: 'App is registered.'
                    content:
                        application/vnd.api+json:
                            schema:
                                $ref: '#/components/schemas/AppRegistrationApiResponse'
                400:
                    description: 'Invalid request.'
                    content:
                        application/vnd.api+json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'
                default:
                    description: 'Expected response to a bad request.'
                    content:
                        application/vnd.api+json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'

        get:
            summary: 'Lists all available apps for a given locale.'
            parameters:
                - name: Accept-Language
                  in: header
                  description: 'Locale to be used to get the localised details.'
                  example: 'en'
                  schema:
                      type: string
                - name: x-tenant-id
                  in: header
                  required: true
                  description: 'Tenant ID'
                  example: 'tenantUuid'
                  schema:
                      type: string
            responses:
                200:
                    description: 'Expected response to a valid request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AppCollectionApiResponse'
                400:
                    description: 'Invalid request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'
                default:
                    description: 'Expected response to a bad request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'
    /apps/{appId}:
        get:
            summary: 'Expose the details of a single app.'
            parameters:
                - name: appId
                  in: path
                  required: true
                  description: 'UUID of the app.'
                  example: 'UUID_app123'
                  schema:
                      type: string
                - name: Accept-Language
                  in: header
                  description: 'Locale to be used to get the Localised details.'
                  example: 'en'
                  schema:
                      type: string
                - name: x-tenant-id
                  in: header
                  required: true
                  description: 'Tenant ID'
                  example: 'tenantUuid'
                  schema:
                      type: string
            responses:
                200:
                    description: 'Expected response to a valid request'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AppApiResponse'

                400:
                    description: 'Invalid request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'
                404:
                    description: 'Resource not found.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'

                default:
                    description: 'Expected response to a bad request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'

        patch:
            summary: 'Updates App information'
            parameters:
                -   name: appId
                    in: path
                    required: true
                    description: 'UUID of the app.'
                    example: 'UUID_app123'
                    schema:
                        type: string

            requestBody:
                description: 'Contains all required data to register an App within the Registry service.'
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AppRegistrationApiRequest'
            responses:
                204:
                    description: 'App is updated.'
                404:
                    description: 'Resource not found.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'

                400:
                    description: 'Invalid request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessages'
                default:
                    description: 'Expected response to a bad request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'


    /apps/{appId}/connect:
        post:
            summary: 'Posts a connect request'
            parameters:
                - name: appId
                  in: path
                  required: true
                  description: 'UUID of the app.'
                  example: 'UUID_app123'
                  schema:
                      type: string
                - name: x-tenant-id
                  in: header
                  required: true
                  description: 'Tenant ID'
                  example: 'tenantUuid'
                  schema:
                      type: string
                - name: Accept-Language
                  in: header
                  description: 'Locale to be used to get the Localised details.'
                  example: 'en'
                  schema:
                      type: string

            responses:
                200:
                    description: 'Expected response to a valid request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AppConnectionApiResponse'
                400:
                    description: 'Invalid request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessages'
                default:
                    description: 'Expected response to a bad request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'

    /apps/{appId}/disconnect:
        post:
            summary: 'Posts a disconnect request'
            parameters:
                - name: appId
                  in: path
                  required: true
                  description: 'UUID of the app.'
                  example: 'UUID_app123'
                  schema:
                      type: string
                - name: x-tenant-id
                  in: header
                  required: true
                  description: 'Tenant ID'
                  example: 'tenantUuid'
                  schema:
                      type: string
                - name: Accept-Language
                  in: header
                  description: 'Locale to be used to get the Localised details.'
                  example: 'en'
                  schema:
                      type: string

            responses:
                200:
                    description: 'Expected response to a valid request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AppConnectionApiResponse'
                400:
                    description: 'Invalid request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessages'
                default:
                    description: 'Expected response to a bad request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'

    /apps/{appId}/configuration:
        get:
            summary: 'Gets the configuration for the App.'
            parameters:
                - name: appId
                  in: path
                  required: true
                  description: 'UUID of the app.'
                  example: 'UUID_app123'
                  schema:
                      type: string
                - name: x-tenant-id
                  in: header
                  required: true
                  description: 'UUID of the tenant.'
                  example: 'UUID_tenant123'
                  schema:
                      type: string
                - name: Accept-Language
                  in: header
                  description: 'Locale to be used to get the Localised details.'
                  example: 'en'
                  schema:
                      type: string
            responses:
                200:
                    description: 'Expected response to a valid request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AppConfigurationApiResponse'
                400:
                    description: 'Invalid request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'
                404:
                    description: 'Resource not found.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'
                default:
                    description: 'Expected response to a bad request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'

        post:
            summary: 'Posts the configuration for the App.'
            operationId: 'AppsApi.Configuration' # Module.Controller
            parameters:
                - name: appId
                  in: path
                  required: true
                  description: 'UUID of the app.'
                  example: 'UUID_app123'
                  schema:
                      type: string
                - name: x-tenant-id
                  in: header
                  required: true
                  description: 'UUID of the tenant.'
                  example: 'UUID_tenant123'
                  schema:
                      type: string
                - name: Accept-Language
                  in: header
                  description: 'Locale to be used to get the Localised details.'
                  example: 'en'
                  schema:
                      type: string
            requestBody:
                description: 'Used to configure an App for a Tenant.'
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/AppConfigurationApiRequest'
            responses:
                200:
                    description: 'Expected response to a valid request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AppConfigurationApiResponse'
                400:
                    description: 'Invalid request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'
                default:
                    description: 'Expected response to a bad request.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiErrorMessage'

###
# Components
###
components:
    schemas:
        ### Registration ###

        ################################################
        # Apps Registration Request
        ################################################
        AppRegistrationApiRequest:
            properties:
                data:
                    $ref: '#/components/schemas/AppRegistrationApiRequestData'

        AppRegistrationApiRequestData:
            properties:
                type:
                    type: string
                    example: 'apps'

                attributes:
                    $ref: '#/components/schemas/AppRegistrationApiRequestAttributes'

        AppRegistrationApiRequestAttributes:
            properties:
                api:
                    type: string
                    example: '{
                        "connect": "https://some-url",
                        "disconnect": "https://some-url",
                        "configuration": "https://some-url"
                    }'
                manifest:
                    type: string
                    example: '{
                        "en_US", {},
                        "de_DE", {},
                        }'
                configuration:
                    type: string
                    example: '{"type": "object", "title": "title", "description": "description", "properties": {"username": {"type": "string","title": "username"}}}'
                translation:
                    type: string
                    example: '{"username": {"de_DE": "Benutzername","en_US": "Username"}}'
            required:
                - manifest
        #-----------------------------------------------


        ################################################
        # Apps Registration Response
        ################################################
        AppRegistrationApiResponse:
            properties:
                data:
                    $ref: '#/components/schemas/AppRegistrationApiResponseData'

        AppRegistrationApiResponseData:
            properties:
                type:
                    type: string
                    example: 'apps'
                id:
                    type: string
                    example: 'UUID_app123'

                attributes:
                    $ref: '#/components/schemas/AppRegistrationApiResponseAttributes'

        AppRegistrationApiResponseAttributes:
            properties:
                connectionStatus:
                    type: string
                    enum: ['not connected', 'disconnected', 'connection pending', 'waiting for configuration', 'connected']
        #-----------------------------------------------

        ################################################
        # Apps Collection Request
        ################################################
        # This is defined only by path arguments and headers. No request content.
        #-----------------------------------------------

        ################################################
        # Apps Collection Response
        ################################################
        AppCollectionApiResponse:
            properties:
                data:
                    type: array
                    items:
                        $ref: '#/components/schemas/AppCollectionApiResponseData'

        AppCollectionApiResponseData:
            properties:
                type:
                    type: string
                    example: 'App Collection'
                items:
                    $ref: '#/components/schemas/AppApiResponseAttributes'
        #-----------------------------------------------


        ################################################
        # Apps Detail Response - detailed response data
        ################################################
        AppApiResponse:
            properties:
                data:
                    $ref: '#/components/schemas/AppApiResponseData'

        AppApiResponseData:
            properties:
                type:
                    type: string
                    example: 'apps'
                id:
                    type: string
                    example: 'UUID_app123'
                attributes:
                    $ref: '#/components/schemas/AppApiResponseAttributes'

        AppApiResponseAttributes:
            properties:
                id:
                    type: string
                    example: 'UUID_app123'
                name:
                    type: string
                    example: 'Spryker App'
                description:
                    type: string
                    example: 'App short description'
                status:
                    $ref: '#/components/schemas/ConnectionStatus'
                categories:
                    type: array
                    items:
                        type: string
                    example: ['Category A', 'Category B']
                labels:
                    type: array
                    items:
                        type: string
                    example: ['Label A', 'Label B']
                iconUrl:
                    type: string
                    example: 'https://app.com/icon/app.png'
                manifest:
                    type: string
                    example: '{"name": "Spryker App", "etc": "etc"}'
                configuration:
                    type: string
                    example: '{"type": "object", "title": "Credentials", "description": "Security area", "properties": {"username": {"type": "string","title": "username"}}}'
        #-----------------------------------------------


        ################################################
        # App Configuration Request
        ################################################
        AppConfigurationApiRequest:
            properties:
                data:
                    $ref: '#/components/schemas/AppConfigurationApiRequestData'

        AppConfigurationApiRequestData:
            properties:
                type:
                    type: 'string'
                    example: 'configuration'
                attributes:
                    $ref: '#/components/schemas/AppConfigurationApiRequestAttributes'

        AppConfigurationApiRequestAttributes:
            properties:
                configuration:
                    type: 'string'
                    example: '{"credentials": {"username": "Foo bar"}, "other-data": {}}'
        #-----------------------------------------------


        ################################################
        # App Configuration Response
        ################################################
        AppConfigurationApiResponse:
            properties:
                data:
                    $ref: '#/components/schemas/AppConfigurationApiResponseData'

        AppConfigurationApiResponseData:
            properties:
                type:
                    type: string
                    example: 'apps'
                id:
                    type: string
                    example: 'UUID_app123'
                attributes:
                    $ref: '#/components/schemas/AppConfigurationApiResponseAttributes'

        AppConfigurationApiResponseAttributes:
            properties:
                configuration:
                    type: string
                    example: '{"credentials": {"username": "Foo bar"}, "other-data": {}}'
        #-----------------------------------------------

        ################################################
        # App Connect/Disconnect Request
        ################################################
        # This is defined only by path arguments and headers. No request content.
        #-----------------------------------------------

        ################################################
        # App Connect/Disconnect Response
        ################################################
        AppConnectionApiResponse:
            properties:
                data:
                    $ref: '#/components/schemas/AppConnectionApiResponseData'

        AppConnectionApiResponseData:
            properties:
                type:
                    type: 'string'
                    example: 'Disconnect'
                attributes:
                    $ref: '#/components/schemas/AppConnectionApiResponseAttributes'

        AppConnectionApiResponseAttributes:
            $ref: '#/components/schemas/AppApiResponseAttributes'
        #-----------------------------------------------

        ConnectionStatus:
            type: string
            enum: [ 'not connected', 'disconnected', 'connection pending', 'waiting for configuration', 'connected' ]

        ### General components ###
        ApiErrorMessages:
            properties:
                data:
                    type: array
                    items:
                        $ref: '#/components/schemas/ApiErrorMessage'

        ApiErrorMessage:
            properties:
                code:
                    type: string
                detail:
                    type: string
                status:
                    type: integer

    parameters:
        IncludeTenantApp:
            name: include
            in: query
            required: false
            schema:
                type: array
                example:
                    - tenant-app
                items:
                    type: string
